{% load static %}
{% load wagtailcore_tags %}

<nav class="menu-items" id="navbar">
    <a href="http://soundboxsolutions.com">
        <img class="logo-image" src="{% static "images/oxso_logo3.png" %}" alt="Logo">
    </a>

    <ul class="menu-skills">
        <li style="list-style-type: none">
            <a href="#skills">SKILLS</a>
            <ul style="list-style-type: none">
                <li><a href="#datavis">Data Visualization</a></li>
                <li><a href="#dataanalysis">Data Analysis</a></li>
                <li><a href="#webdev">Web Development</a></li>
                <li><a href="#salesforce">Salesforce Development</a></li>
            </ul>
        </li>
    </ul>
    <a href="#about">ABOUT</a>
    <a href="#blog">BLOG</a>
    <a href="#goToFooter">CONTACT</a>
    <a></a>
</nav>

<div class="background-image" style="background-image: url('{% static 'images/IMG_7330.JPG' %}')"></div>

<div class="flex-logo">
    <div class="logo-padding">
        <img class="logo-text" src="{% static "images/company_name.png" %}" alt="Soundbox Solutions">
    </div>
</div>

<div style="padding-top: 50%"></div>
<div class="skills-categories">

    <div id="datavis" style="padding: 4pt"></div>
    <div class="coming"><h1>Data Visualization</h1></div>
    <div>{% include 'home/plot.html' %}</div>

    <div id="dataanalysis" style="padding: 10pt"></div>
    <div class="coming"><h1>Data Analysis</h1></div>

    <div id="webdev" style="padding: 10pt"></div>
    <div class="coming"><h1>Web Development</h1></div>

    <div id="salesforce" style="padding: 10pt"></div>
    <div class="coming"><h1>Salesforce Development</h1></div>
</div>
<div style="padding-top: 10%"></div>

{% include 'home/contact.html' %}

<script>
    (function(l){var i,s={touchend:function(){}};for(i in s)l.addEventListener(i,s)})(document); // sticky hover fix in iOS
</script>

