{% extends "base.html" %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">

{% endblock extra_css %}

{% block content %}

    {% include 'home/home_page_content.html' %}
    {% include 'home/plot.html' %}
    {% include 'home/contact.html' %}

{% endblock content %}
