{% load static %}

<div class="menu-items sticky" id="navbar">
    <a href="http://soundboxsolutions.com">
        <img class="logo-image" src="{% static "images/oxso_logo3.png" %}" alt="Logo">
    </a>
    <a href="#home">HOME</a>
    <a href="#services">SERVICES</a>
    <a href="#about">ABOUT</a>
    <a href="#goToFooter">CONTACT</a>
    <a></a>

</div>

<div class="flex-logo">
    <div>
        <img class="logo-text" src="{% static "images/company_name.png" %}" alt="Soundbox Solutions">
    </div>
</div>

<div class="coming">
    <div>Populations of the World</div>
</div>



