{% load static %}

<style>

    .flex-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20pt;
    }


    .bar3 {
  fill: #b4b34f;
}

.axis text {
    font: 10px sans-serif;
    fill: white;

}

.axis path,
.axis line {
    fill: none;
    stroke: white;
    shape-rendering: crispEdges;
}
.x.axis path {
  display: none;
}

</style>

<div class="flex-chart">
    <svg class="chart3"></svg>
</div>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>

    // Adjust values depending on screen width
    screenWidth = window.innerWidth;
    var width_adjust;
    var height_adjust;
    var label_adjust;
    if (screenWidth < 600) {
        width_adjust = 380;
        height_adjust = 350;
        label_adjust = -80;
    } else {
        width_adjust = 800;
        height_adjust = 400;
        label_adjust = -115;
    }

    // Margin adjustments
    var margin = {top: 20, right: 30, bottom: 60, left: 60},
        width = width_adjust - margin.left - margin.right,
        height = height_adjust - margin.top - margin.bottom;

    var x = d3.scale.ordinal()
        .rangeRoundBands([0, width], .1);

    var y = d3.scale.linear()
        .range([height, 0]);

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom")

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var chart = d3.select(".chart3")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.csv("{% static "data/rate.csv" %}", type, function(error, data) {
        x.domain(data.map(function(d) { return d.name; }));
        y.domain([0, d3.max(data, function(d) { return d.value; })]);

        chart.append("g")
            .attr("class", "x axis")
            .attr("transform", "translate(0," + height + ")")
            .call(xAxis)
            .selectAll("text")
            .attr("transform", "rotate(60)")
            .attr("dx", "1.1em")
            .attr("dy", ".2em")
            .style("text-anchor", "start")

        chart.append("g")
            .attr("class", "y axis")
            .call(yAxis);

        chart.append("g")
            .attr("class", "y axis")
            .call(yAxis)
            .append("text")
            .attr("transform", "rotate(-90)")
            .attr("y", 50)
            .attr("dy", "-10em")
            .attr("x", label_adjust)
            .style("text-anchor", "end")
            .text("Population Growth Rate (%)");

        chart.selectAll(".bar3")
            .data(data)
            .enter()
            .append("rect")
            .attr("class", "bar3")
            .attr("x", function(d) { return x(d.name); })
            .attr("y", function(d) { return y(d.value); })
            .attr("height", function(d) { return height - y(d.value); })
            .attr("width", x.rangeBand());

        chart.append("g")
            .attr("class", "title1")
            .append("text")
            .attr("x", width/2 )
            .attr("y", 0 )
            .style("text-anchor", "middle")
            .text("Countries with the highest annual population growth rates");
    });
        function type(d) {
        d.value = +d.value; // coerce to number
        return d;
    }

</script>