
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 20pt;
    padding-bottom: 20pt;
}

.contact {
    font: 15pt "Arial";
    margin-bottom: 10pt;
    color: lightgrey;
    letter-spacing: 1pt;
}

.info {
    font: 13pt "Arial";
    color: grey;
    letter-spacing: 1pt;
    text-decoration: none;
}

#info {
    color: grey;
    text-decoration: none;
}

#goToFooter a:hover {
    color: white;
}

