.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f0f0f;
    padding-top: 2pt;
    padding-bottom: 2pt;
    padding-left: 4pt;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.menu-items a {
    font-family: "Avenir", sans-serif;
    font-size: 10pt;
    letter-spacing: 1pt;
    color: lightgrey;
}

#navbar a:link {
    text-decoration: none;
    display: block;

}

#navbar a:hover {
    color: white;

}

.menu-skills li > ul {
    position: absolute;
    background: #0f0f0f;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    padding-top: 30px;
    width: 250px;
    line-height: 200%;
}

ul.menu-skills ul > li > a {
    font-size: 18px;
    color: #8c8c8c;
    padding: 10px;
}

.menu-skills li > ul {
    visibility: hidden;
    opacity: 0;
}

.menu-skills li:hover > ul {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
}

