* {
    margin: 0;
    padding: 0;
}

.template-homepage {
    background-color: black;
}



.logo-image {
    width: 3vw;
    margin-top: 5%;
}

.flex-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80pt;
}

.logo-text {
    width: 30vw;
}

.coming {
    display: flex;
    justify-content: left;
    flex-direction: column;
    font-family: "Avenir", sans-serif;
    margin-top: 3%;
    color: white;
    font-size: 11pt;
    padding-left: 10px;

}

.scrolling-wrapper {
    display: flex;
    /*flex-wrap: nowrap;*/
    overflow-x: auto;
    background-color: #222222;
    padding: 5px;
    /*flex: 0 0 auto;*/
}

.plot {
    /*background-color: #3c3c3c;*/
}

.chart-padding {
    padding: 10px;
}

#chart-hover :hover {
    background-color: #333333;
}

#chart-hover {
    padding: 5pt;
}


@media screen and (max-width: 500px) {
    .menu-items a {
        font-size: 6pt;
    }

    .flex-logo {
        padding-top: 55pt;
    }

    .logo-text {
    width: 50vw;
}

    .coming {
        font-size: 8pt;
        padding-top: 10pt;
    }

    .logo-image {
    width: 7vw;
}

    /*.axis text {*/
    /*    font: 7pt sans-serif;*/
    /*}*/
}

